@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.flex-item-center {
  @apply flex items-center justify-center
}

.sidebar-menu > .ant-menu-item {
  background-color: #3d3d3d;
  padding:0.3rem 1rem;
  display: flex;
  align-items: center;
  color: rgb(248,250,252);
}

.sidebar-menu > .ant-menu-item-selected {
  background-color: rgb(248,250,252);
}
